<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>New Post!</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/css/style.css" />
      <script src="/libraries/jquery/jquery.min.js"></script>
      <link rel="stylesheet" href="/libraries/materialize/css/materialize.min.css" />
      <script src="/libraries/materialize/js/materialize.min.js"></script>
      <script src="/js/app.js"></script>
      <script src="libraries/marked.min.js"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper indigo darken-4">
        <ul class="center hide-on-med-and-down">
          <a href="/wiki/new" class="left hide-on-med-and-down" class="brand-logo">NEW POST</a>
          <li><a class="btn-floating indigo darken-4" href="/wiki/new"><i class="material-icons">assignment</i></a></li>
          <li><a class="btn-floating indigo darken-4" href="/wiki/tech/show"><i class="material-icons">code</i></a></li>
          <li><a class="btn-floating indigo darken-4" href="/wiki/travel/show"><i class="material-icons">my_location</i></a></li>
          <li><a class="btn-floating indigo darken-4" href="/wiki/style/show"><i class="material-icons">shopping_basket</i></a></li>
          <li><a class="btn-floating indigo darken-4" href="/wiki/food/show"><i class="material-icons">receipt</i></a></li>
        </ul>
        </div>
      </nav>
    <div class="hide-on-small-only">
    </div>
      <div class="row" id="new-box">
        <div class="col s12 m4 l12">
          <div class="fixed-action-btn horizontal click-to-toggle">
            <a class="btn-floating btn-large indigo darken-4">
              <i class="material-icons">menu</i>
            </a>
            <ul>
              <li><a class="btn-floating indigo darken-4" href="/wiki/food/show"><i class="material-icons">receipt</i></a></li>
              <li><a class="btn-floating indigo darken-4" href="/wiki/style/show"><i class="material-icons">shopping_basket</i></a></li>
              <li><a class="btn-floating indigo darken-4" href="/wiki/travel/show"><i class="material-icons">my_location</i></a></li>
              <li><a class="btn-floating indigo darken-4" href="/wiki/tech/show"><i class="material-icons">code</i></a></li>
              <li><a class="btn-floating indigo darken-4" href="/wiki/new"><i class="material-icons">assignment</i></a></li>
              <li><a class="btn-floating indigo darken-4" href="/wiki"><i class="material-icons">view_quilt</i></a></li>
            </ul>
          </div>
            <section id="new-post-form">
              <form action="/wiki" method="POST" id="new-form">
              <div class="input-field col s12">
                  <input id="title-input-field" type="text" name="wiki[title]"><br>
                  <label for="title">title</label>
              </div>
              <div class="input-field col s12">
                <select name="wiki[category]">
                  <option name="wiki[category.food]">food</option>
                  <option name="wiki[category.tech]">tech</option>
                  <option name="wiki[category.style]">style</option>
                  <option name="wiki[category.travel]">travel</option>
                </select>
              </div>
              <div class="input-field col s12">
                <input type="text" name="wiki[content]"><br>
                <label for="content">content</label>
              </div>
                  <input id="new-post-submit-button" class="indigo darken-4 white-text" type="submit" value="add new post">
                </form>
          </section>
      </div>
    </div>
  </body>
</html>
