<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <!--Mobile Device Optimization -->
      <!-- <meta name="viewport" content="width-device-width, initial-scale=1.0"/> -->
      <title>Wiki 2.0</title>
      <!-- Materialize CSS Links -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/css/style.css" />
      <script src="/libraries/jquery/jquery.min.js"></script>
      <link rel="stylesheet" href="/libraries/materialize/css/materialize.min.css" />
      <script src="/libraries/materialize/js/materialize.min.js"></script>
      <!-- App Styles -->
      <!--Connecting Javascript to JQuery -->
      <!-- jQuery -->
      <!-- <script src="/js/app.js"></script> -->
      <!-- Materialize JS -->
      <!-- <script src="./js/main.js"></script> -->
      <!-- Application JS -->
      <!--Marked SRC Tag  -->
      <script src="lib/marked.js"></script>
  </head>
  <body>
    <nav>
    </nav>
    <!-- <div class="container"> -->
      <div class="row">
<!--Below is col s12 m4 l2 - The fist column on the index page-->
        <div class="col s12 m4 l2">
          <h1>WIKI 2.0</h1>
            <div id="top-categories">
              <h2>Top Categories</h2>
            </div>
        </div>
<!-- Below is column s6 - The middle column on the index page-->
    <form method="GET" action='/wiki/category' id="theForm">
      <div class="input-field">
        <select name="wiki[category]" id="selector">
          <option id="food-category" value="Food" name="wiki[category.food]">Food</option>
          <option id="location-category" value="Location" name="wiki[category.location]">Location</option>
          <!-- <input></input> -->
          <input id="input-field" placeholder="enter"></input>
        </select>
        <button id="submit-button" type="submit" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Search!</button>
      </div>
    </form>
          <!-- <option value="title">Title<br> -->
          <!-- <input id="request" type="text" placeholder="Search"></input> -->
        <!-- </select> -->
        <div class="col s12 m4 l8">
          <% wiki.forEach(wiki => { %>
            <div class="title">
                <p>Title:<%= wiki.title %></p>
                <p>Category:<%= wiki.category %></p>
                <p>Content:<%= wiki.content %></p>
            </div>
          <% }) %>
<!-- Below is the input (search bar) and the submit button -->
          <!-- <form action="/wiki" method="GET">
            <input id="request" type="text" placeholder="Search"></input>
            <button>SUBMIT!</button>
          </form> -->
          <div id="results">
            <h2>Trending Articles</h2>
          </div>
 <!-- Below is the ending div for col s12 m4 l8 -->
        </div>
        <div class="col s12 m4 l2">
          <p>Saved Categories</p>
        </div>
<!-- Below is the ending div for the row -->
      </div>
    <!-- </div> -->


  </body>
</html>
