<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">

      <!--Mobile Device Optimization -->
      <meta name="viewport" content="width-device-width, initial-scale=1.0"/>

      <title>Wiki 2.0!</title>

      <!-- Materialize CSS Links -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="libraries/materialize/css/materialize.min.css" />

      <!-- App Styles -->
      <link rel="stylesheet" href="css/style.css" />

      <!-- jQuery -->
      <script src="libraries/jquery/jquery.min.js"></script>

      <!-- Materialize JS -->
      <script src="libraries/materialize/js/materialize.min.js"></script>

      <!-- APP JS -->
      <script src="js/app.js"></script>
  </head>
  <body>

  </body>
</html>
