<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>New Post!</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/css/style.css" />
      <script src="/libraries/jquery/jquery.min.js"></script>
      <link rel="stylesheet" href="/libraries/materialize/css/materialize.min.css" />
      <script src="/libraries/materialize/js/materialize.min.js"></script>
      <script src="/js/app.js"></script>
      <script src="libraries/marked.min.js"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper black"><h1 id="title">NEW POST!</h1></div>
    </nav>
    <div class="hide-on-small-only">
    </div>
    <div id="left-column">
          <ul id="dropdown1" class="dropdown-content">
            <li><a href="/wiki/tech/show">tech</a></li>
            <li class="divider"></li>
            <li><a href="/wiki/travel/show">travel</a></li>
            <li class="divider"></li>
            <li><a href="/wiki/style/show">style</a></li>
            <li class="divider"></li>
            <li><a href="/wiki/food/show">food</a></li>
          </ul>
        <ul class="left hide-on-med-and-down">
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">CATEGORIES<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
      <div class="row" id="new-box">
        <div class="col s12 m4 l8">
          <div class="fixed-action-btn horizontal click-to-toggle">
            <a class="btn-floating btn-large black">
              <i class="material-icons">menu</i>
            </a>
            <ul>
              <li><a class="btn-floating teal lighten-3" href="/wiki/food/show"><i class="material-icons">receipt</i></a></li>
              <li><a class="btn-floating black" href="/wiki/style/show"><i class="material-icons">shopping_basket</i></a></li>
              <li><a class="btn-floating teal lighten-3" href="/wiki/travel/show"><i class="material-icons">my_location</i></a></li>
              <li><a class="btn-floating black" href="/wiki/tech/show"><i class="material-icons">code</i></a></li>
              <li><a class="btn-floating teal lighten-3" href="/wiki/new"><i class="material-icons">assignment</i></a></li>
              <li><a class="btn-floating black" href="/wiki"><i class="material-icons">view_quilt</i></a></li>
            </ul>
          </div>
            <section id="new-post-form">
              <form action="/wiki" method="POST" id="new-form">
                <!-- <label for="wiki[title]">POST Title:</label><br> -->
              <div class="input-field col s12">
                  <input type="text" name="wiki[title]"><br>
                  <label for="title">title</label>
              </div>
              <div class="input-field col s12">
                <select name="wiki[category]">
                  <option name="wiki[category.food]">food</option>
                  <option name="wiki[category.tech]">tech</option>
                  <option name="wiki[category.style]">style</option>
                  <option name="wiki[category.travel]">travel</option>
                </select>
              </div>
              <div class="input-field col s12">
                <input type="text" name="wiki[content]"><br>
                <label for="content">content</label>
              </div>
              <input class="teal lighten-3" type="submit" value="add new post">
            </form>
          </section>

<!-- Below is the ending div for the row -->
      </div>
    </div>
  </body>
</html>
