#index-body {
  display:flex;
  /*flex-direction: column;*/
  justify-content: space-around;
}

#index-column1 {
  display:1;
}

.index-column2 {
  display:2;
  align-items: center;
}

.index-column3 {
  display:3;
}

img {
  width: 70%;
  height: 70%;
}

.nav-wrapper {
  /*background-color: */
  padding-left: 425px;
  font-size: 20px;
  color:black;
  align-items:center;
}

a {
  /*text-decoration: none*/
  color:black;
  /*color:#212121;*/
}

ul {
  list-style-type: none;
}

#search {
  width:50%;
  height:100%;
}

.show-body {
  display:block;
  flex-direction:row;
  justify-content: center;
}
#show-nav {
  display:1;
  text-align:left;
  padding-top:50px;
  justify-content:space-around;
}

.show-input {
  text-align:center;
  display:2;
  padding-top:50px;
  /*border:solid;*/
  border-color:black;
  width:100%;
  height:500px;
  /*background-color:red;*/
  align-items: center;
}

.col s3 {
  background-color: red;
}

.col s9 {
  background-color:blue;
}

#style-page-heading {
  background-color: black;
}

/*.style-heading {
  background-color:black;
  width:100%;
  height:1px;
  text-align:center;
}*/
/*
.style-footer {
  background-color:black;
  width:100%;
  height:1px;
  text-align:center;
}*/

.page-name {
  text-align: center;
  font-family: helvetica;
}
.dropdown-content {
  color:black;
  background-color: white;
}

.card-panel {
  text-align: left;
  padding-left:400px;
  /*padding-top:5px;*/
}

.card-reveal {
  border:10px;
  border-color:black;
  height:250px;
  width:300px;
  background-color: #f5f5f5;
}

.material-icons {
  color:black;
}
.dropdown-button {
  color:black;
}

a {
  color:black;
}

#title {
  color:white;
  align-items: center;
}

li {
  color:black;
}

#search {
  text-align: center;
  align-items: center;
}

.input-field {
  padding-left: 435px;
  padding-top: 20px;
}

#search-icon {
  padding-left: 435px;
}

#close-icon {
  padding-right:350px;
}

.dropdown-button {
  padding-left: 100px;
}

#edit-page-template {
  text-align: left;
}

#submit-edit-button {
  width:775px;
  padding-left:100px;
}

#edit-box {
 align-items: center;
}

#edit-title-box {
  text-align: left;
}

#edit-category-box {
  text-align: left;
}

#edit-content-box {
  text-align: left;
}

#new-post-form {
  text-align: left;
}

#the-edit-button {
  padding-left:15px;
  padding-top:100px;
}
